ipykernel
python-dotenv
pandas
numpy
matplotlib
scikit-learn
seaborn
jupyter
torch
torchvision
torchaudio
transformers
tensorboard
pillow
tqdm
nltk
spacy
opencv-python
albumentations
pytorch-lightning
torchtext
